<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <import resource="classpath:spring-config.xml" />

    <bean id="messageService" class="com.epam.mentoring.spring.service.impl.MessageServiceImpl"
          scope="singleton"
          factory-method="createInstance"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg value="Default message from xml config" type="java.lang.String"/>
    </bean>

    <bean id="messageFormatterServiceLocator" class="com.epam.mentoring.spring.service.impl.MessageFormatterServiceLocator"/>

    <bean id="messageFormatterService"
          factory-bean="messageFormatterServiceLocator"
          factory-method="createMessageFormatterService"
          scope="prototype">
        <constructor-arg value="${formatter.start}"/>
        <constructor-arg value="${formatter.end}"/>
    </bean>

    <bean id="messagePrinterService" class="com.epam.mentoring.spring.service.impl.MessagePrinterServiceImpl">
        <property name="messageService" ref="messageService"/>
        <constructor-arg ref="messageFormatterService"/>
        <constructor-arg value="0" type="int"/>
    </bean>

    <bean id="someBean" class="com.epam.mentoring.spring.service.factory.impl.FactoryBeanImpl"/>

    <bean id="threadService" class="com.epam.mentoring.spring.service.thread.impl.ThreadServiceImpl"
            scope="thread"/>

</beans>