<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <import resource="classpath:spring-config.xml" />
    <import resource="classpath:message-services.xml" />

    <bean id="contextBean" class="com.epam.mentoring.spring.service.context.impl.ContextBeanImpl"/>

    <bean id="someBean" class="com.epam.mentoring.spring.service.factory.impl.FactoryBeanImpl"/>

    <bean id="threadService" class="com.epam.mentoring.spring.service.thread.impl.ThreadServiceImpl"
            scope="thread"/>

</beans>